#home section.map {
    position: relative;
    height: calc(85vh - 64px);
    min-height: initial;
}

#home .map #geolocate-me {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#home .map .map-canvas {
    width: 100% !important;
    height: 100% !important;
}

#home .map a[data-scroll] {
    z-index: 100;
}

#home .map .card {
    display: none;
}

#home .map .card-title {
    margin: 0;
}

#home .map .card-action {
    padding: 15px 20px;
}

@media screen and (min-width: 768px) {
    #home .map .card {
        display: block;
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #home section.map {
        height: calc(100vh - 64px);
    }
    #home .map .card {
        width: 33%;
    }
}
