#home section.map {
    height: calc(85vh - 64px);
    min-height: initial;
}

#home .map #geolocate-me {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#home .map .map-canvas {
    width: 100% !important;
    height: 100% !important;
}

#home .map a[data-scroll] {
    z-index: 100;
}

@media screen and (min-width: 992px) {
    #home section.map {
        height: calc(100vh - 64px);
    }
}
