#home section.map {
    height: calc(100vh - 64px);
    min-height: initial;
}

#home .map #geolocate-me {
    position: absolute;
    right: 50px;
    top: 50px
}

#home .map .map-canvas {
    width: 100% !important;
    height: 100% !important;
}

#home .map a[data-scroll] {
    z-index: 100;
}
