.node-show-container {
    margin-top: 30px;
}

.node-show-container .collapsible {
    margin: 0 0 1rem;
    width: 100%;
}

.node-show-container .collapsible .collapsible-body{
    background: #fff;
}

.node-show {
    margin-left: -10px;
}

.nodes {
    list-style: none;
    position: relative;
    margin-top: 0;
}

.nodes:last-of-type {
    margin-bottom: 0;
}

.nodes .node {
    margin-bottom: 20px;
    position: relative;
}

.nodes .node:before,
.nodes .node:after {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 3px;
    background-color: #2b2b2b;
    right: 25px;
    height: calc(100% + 20px);
}

.nodes .node:after {
    clear: both;
}

.nodes .node > .card {
    margin: 0 10px;
    width: calc(100% - 70px);
    position: relative;
}

.nodes .node > .node-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #5e5e5e;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.node .card-content .card-title {
    line-height: 18px;
    font-size: 18px;
}

.node .card-content .card-title::first-letter {
    text-transform: uppercase;
}

.nodes .end {
    margin-left: 10px;
    margin-bottom: 0;
}

.nodes .end .card-panel,
.nodes .end .card-panel p {
    margin: 0;
}

.nodes .end a {
    margin-left: 2rem;
}

.nodes .row .col {
    padding: 0 !important;
}

@media screen and (min-width: 768px) {
    .node-show-container .col {
        padding: 0 0.75rem;
    }
    .node .card-content .card-title {
        line-height: 24px;
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .node-show-container {
        margin-top: 48px;
    }
}
