#documentation .jumbotron {
    margin-bottom: 0;
}

#documentation section {
    position: relative;
    width: 100%;
    padding: 100px 0;
}

#documentation section:nth-child(odd) {
    background: #e5e3df;
}

#documentation section:last-child {
    margin-bottom: -30px;
}

#documentation section h2 {
    margin-top: 0;
    font-size: 30px;
}

#documentation section a[data-scroll] {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50px;
}

@media screen and (min-width: 992px) {
    #documentation section:last-child {
        margin-bottom: -48px;
    }
}
