footer.page-footer {
    margin-top: 30px;
}

footer.page-footer a {
    color: #c5cae9;
}

footer.page-footer a:hover {
    color: #fff;
}

@media screen and (min-width: 992px) {
    footer.page-footer {
        margin-top: 48px;
    }
}
