#home section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#home section:nth-child(odd) {
    background: #e5e3df;
}

#home section:last-child {
    margin-bottom: -30px;
}

#home section:not(.map) {
    padding: 100px 0;
    border-top: 1px solid #c0c0c0;
}

#home section a[data-scroll] {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50px;
}

@media screen and (min-width: 992px) {
    #home section:last-child {
        margin-bottom: -48px;
    }
}
